body{

    color: rgba(255, 255, 255, 0.8); 
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    background-image: 
        linear-gradient(rgb(40, 40, 40), rgba(40, 40, 40, 0.884)), 
        url('fondo.png'); 
    
    
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}


header{

    text-align: center;
}

.tarjeta{

    background-color: rgba(255, 255, 255, 0.178);
    padding: 10px;
    transition: transform 0.3s ease, background-color 0,3s ease;
}

.tarjeta:hover{

    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.267);
    cursor: pointer;
}

.contenedor-tarjetas{

    display: flex;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .contenedor-tarjetas {
        flex-direction: column; 
    }
}

.foto-luca{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid rgba(255, 255, 255, 0.5);

}

html{

    scroll-behavior: smooth;
}

.menu{

    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
    list-style: none;
}

.menu a{

    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover{

    color: #888888;
}

.formulario button {
    padding: 12px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.formulario button:hover {
    background-color: #555555;
    transform: scale(1.02); 
}

.matriz-habilidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
    margin-top: 20px;
}


.habilidad {
    background-color: #2a2a2a;
    color: #ffffff;
    padding: 15px;
    border-left: 4px solid #adadad; 
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 600px) {
    .grilla-habilidades {
        grid-template-columns: 1fr; 
    }
}

.redes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.redes a {
    color: white;
    text-decoration: none;
    border: 1px solid white; 
    padding: 8px 20px; 
    border-radius: 25px; 
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease; 
}

.redes a:hover {
    background-color: white; 
    color: #333333; 
    transform: translateY(-3px); 
}

.contenedor-video {
    max-width: 700px; 
    margin: 0 auto; 
    width: 100%;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
}

.contenedor-video iframe {
    width: 100%;
    aspect-ratio: 16 / 9; 
    display: block;
}

.texto-stream {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5; 
    color: rgba(255, 255, 255, 0.9);
}
